body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #fff;
  color: #ff0034;
}
a{
  text-decoration: none;
  color: #ff0034;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
